---
layout: default
---
<!-- about.html -->
<div class="post">
   <header class="post-header">
      <h1 class="post-title">
         <!-- {% if site.title == "blank" -%}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif %} -->
         {% if site.title == "blank" -%}<span class="font-weight-bold">{{ site.first_name }}</span> <span class="font-weight-bold">{{ site.middle_name }}</span> <span class="font-weight-bold">{{ site.last_name }}</span>{%- endif %}
      </h1>
      <p class="desc">{{ page.subtitle }}</p>
   </header>
   <article>
      {% if page.profile -%}
      <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
         {%- if page.profile.image %}
         {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}
         {% if page.profile.image_circular %}
         {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
         {% else %}
         {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
         {% endif %}
         {% include figure.html
         path=profile_image_path
         class=profile_image_class
         alt=page.profile.image -%}
         {% endif -%}
         {%- if page.profile.address %}
         <div class="address">
            {{ page.profile.address }}
         </div>
         {%- endif %}
      </div>
      {%- endif %}
      <div class="clearfix">
         <p>Hi, I am Sangeet Sagar, a natural language processing (NLP) enthusiast with a M.Sc. degree 
            from <a href="https://www.uni-saarland.de/en/home.html">Saarland University</a>. With over 3 years of research experience, I am particularly 
            passionate about speech and language technology, specializing in end-to-end speech recognition, 
            speech enhancement, and language modeling.
         </p>
         <p>Currently, I am interning at Airbus, Munich with the Airbus Defence and Space team, where 
            I am working on speech recognition projects in aerospace domain.
         </p>
         <!-- Social -->
         {%- if page.social %}
         <div class="social">
            <div class="contact-icons" style="font-size: 30px;">
               {% include social.html %}
            </div>
            <div class="contact-note">
               {{ site.contact_note }}
            </div>
         </div>
         {%- endif %}
         <br>
         <hr>
         <h2> Research </h2>
         My research interests revolve around noise-robust automatic speech recognition, speech denoising, and dialogue processing. I aim to explore novel approaches to develop efficient and effective models that can adapt to different noise levels and speech conditions. 
         <hr>
         <h2>Affiliations</h2>
         <ul>
            <li> (M.Sc.) <a href="https://www.uni-saarland.de/fachrichtung/lst.html">Dept. of Language Science and Technology</a>, Universität des Saarlandes, Saarbrücken, Germany</li>
            <li> <a href="https://ufal.mff.cuni.cz/home-page">Institute of Formal and Applied Linguistics</a>, Charles University, Prague, Czechia</li>
            <li> <a href="https://speech.fit.vutbr.cz/">Faculty of Information Technology</a>, Brno University of Technology, Brno, Czechia</li>
            <li> (B.Tech.) <a href="https://www.lnmiit.ac.in/">The LNM Institute of Information Technology</a>, Jaipur, India</li>
         </ul>
         <hr>
         <h2> Interests </h2>
         I am also an avid solo traveler, having explored over 15 countries. 
         I enjoy immersing myself in diverse cultures, trying new cuisines, 
         and meeting new people. My travels have given me unforgettable experiences and 
         introduced me to inspiring individuals. I am also passionate about photography 
         and enjoy documenting my journeys through captivating photos and videos. You can 
         browse my work here: <a href="https://www.eyeem.com/u/sagar2020">pictures</a>
         . In addition, 
         I am also passionate about swimming.
         <hr>
         Feel free to contact me for any opportunities or collaborations in the field of NLP and speech technology.
      </div>
      <!-- News -->
      <!-- {% if page.news -%}
         <h2><a href="{{ '/news/' | relative_url }}" style="color: inherit;">News</a></h2>
         {%- include news.html %}
         {%- endif %} -->
      <!-- Latest posts -->
      <!-- {% if page.latest_posts -%}
         <h2><a href="{{ '/blog/' | relative_url }}" style="color: inherit;">Latest Posts</a></h2>
         {%- include latest_posts.html %}
         {%- endif %} -->
      <!-- Selected papers -->
      <!-- {% if page.selected_papers -%}
         <h2><a href="{{ '/publications/' | relative_url }}" style="color: inherit;">Selected Publications</a></h2>
         {%- include selected_papers.html %}
         {%- endif %} -->
   </article>
</div>