---
layout: default
---
<!-- about.html -->
<div class="post">
   <header class="post-header">
      <h1 class="post-title">
         <!-- {% if site.title == "blank" -%}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif %} -->
         {% if site.title == "blank" -%}<span class="font-weight-bold">{{ site.first_name }}</span> <span class="font-weight-bold">{{ site.middle_name }}</span> <span class="font-weight-bold">{{ site.last_name }}</span>{%- endif %}
      </h1>
      <p class="desc">{{ page.subtitle }}</p>
   </header>
   <article>
      {% if page.profile -%}
      <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
         {%- if page.profile.image %}
         {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}
         {% if page.profile.image_circular %}
         {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
         {% else %}
         {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
         {% endif %}
         {% include figure.html
         path=profile_image_path
         class=profile_image_class
         alt=page.profile.image -%}
         {% endif -%}
         {%- if page.profile.address %}
         <div class="address">
            {{ page.profile.address }}
         </div>
         {%- endif %}
      </div>
      {%- endif %}
      <div class="clearfix">
         <p>I am currently based in Munich and have dedicated past half a decade of my career 
            into researching and developing speech and language technology.
         </p>
            
         <p>I completed my Master's in Computational Linguistics from <a href="https://www.uni-saarland.de/en/home.html">
            Saarland University</a>, where where I specialized in <a href="https://sangeet2020.github.io/ms-thesis/"></a>noise-robust ASR</a>
            for my thesis. This involved developing systems that can accurately understand speech even in challenging acoustic environments- 
            from noisy industrial settings to crowded public spaces where traditional speech recognition might struggle. 
         </p>
         
         <p>
            Until July 2025, I was part of EML Speech Technology GmbH leading development of end-to-end models for real-time ASR. 
            I am currently transitioning to a new role where I shall continue advancing the field of speech technology and its practical
            application to more challenging domains.
            <!-- <a href="{{ RescueSpeech-2023-IEEE-ASRU-Poster.pdf | prepend: 'assets/pdf/RescueSpeech-2023-IEEE-ASRU-Poster.pdf' | relative_url }}">2023 IEEE ASRU poster</a> -->
         <!-- Social -->
         {%- if page.social %}
         <div class="social">
            <div class="contact-icons" style="font-size: 30px;">
               {% include social.html %}
            </div>
            <div class="contact-note">
               {{ site.contact_note }}
            </div>
         </div>
         {%- endif %}
         <hr>
         <h2> Research </h2>
         My work focuses on streaming/non-streaming (noise-robust) Automatic Speech Recognition (ASR), Speech Enhancement, and a bit into Target Speaker Extraction (TSE). 
         <hr>
         <h2>Affiliations</h2>
         <ul>
            <li> (M.Sc.) <a href="https://www.uni-saarland.de/fachrichtung/lst.html">Dept. of Language Science and Technology</a>, Universität des Saarlandes, Saarbrücken, Germany</li>
            <li> <a href="https://www.dfki.de/web/forschung/forschungsbereiche/sprachtechnologie-und-multilingualitaet">German Research Center of Artifical Intelligence (DFKI)</a>, Saarbrücken, Germany</li>
            <li> <a href="https://ufal.mff.cuni.cz/home-page">Institute of Formal and Applied Linguistics</a>, Charles University, Prague, Czechia</li>
            <li> <a href="https://speech.fit.vutbr.cz/">Faculty of Information Technology</a>, Brno University of Technology, Brno, Czechia</li>
            <li> (B.Tech.) <a href="https://www.lnmiit.ac.in/">The LNM Institute of Information Technology</a>, Jaipur, India</li>
         </ul>
         <hr>
         <h2> Interests </h2>
         I am also an avid solo traveler, having explored over 15 countries. 
         I enjoy immersing myself in diverse cultures, trying new cuisines, 
         and meeting new people. My travels have given me unforgettable experiences and 
         introduced me to inspiring individuals. I am also passionate about photography 
         and enjoy documenting my journeys through captivating photos and videos. You can 
         browse my work here: <a href="https://www.eyeem.com/u/sagar2020">pictures</a>
         . In addition, 
         I am also passionate about gaming e.g. CSGO2. 
         <hr>
         Feel free to contact me for any opportunities or collaborations in the field of NLP and speech technology.
      </div>
      <!-- News -->
      <!-- {% if page.news -%}
         <h2><a href="{{ '/news/' | relative_url }}" style="color: inherit;">News</a></h2>
         {%- include news.html %}
         {%- endif %} -->
      <!-- Latest posts -->
      <!-- {% if page.latest_posts -%}
         <h2><a href="{{ '/blog/' | relative_url }}" style="color: inherit;">Latest Posts</a></h2>
         {%- include latest_posts.html %}
         {%- endif %} -->
      <!-- Selected papers -->
      <!-- {% if page.selected_papers -%}
         <h2><a href="{{ '/publications/' | relative_url }}" style="color: inherit;">Selected Publications</a></h2>
         {%- include selected_papers.html %}
         {%- endif %} -->
   </article>
</div>